@import url("https://fonts.googleapis.com/css?family=Raleway:500");
* {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background: white;
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center;
  padding: 1rem;
  background-image: url("images/overlay.png"), url("images/bg.jpg");
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
}

h2 {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

button {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #ff9945 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}

button:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

div {
  padding-top: 20px;
}

.article h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.writing p {
  text-align: center;

  justify-content: center;
  align-items: center;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: white;

  padding: 10px;
}

.adoptAd {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding: 20px;
}

.adoptAd p {
  text-align: center;

  justify-content: center;
  align-items: center;

  font-size: 20px;
  background-color: white;
  margin-top: 10px;
  margin: 10px;
}
video {
  padding-bottom: 10px;
}

.adoptAdTranscript {
  background-color: white;
  font-size: 20px;
  padding: 20px;
}

.adoptAdTranscript p {
  padding: 10px;
  border: 80px;
  background-color: white;
}

/*-------------- Ted Talk ----------- */

.podcastIntro {
  background-color: white;
  justify-content: center;
  align-items: center;
}

.podcastIntro p {
  text-align: center;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  bottom: 20px;
}
.podcastIntro video {
  padding-bottom: 10px;
}

.podcastIntro {
  background-color: white;
  font-size: 15px;
  padding: 10px;
}

.podcastIntro p {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  font-size: large;
}

.podcastIntro2 {
  margin-top: 10px;
  background-color: white;
  padding: 50px;
}

.podcastIntro2 p {
  text-align: center;
  font-size: larger;
  margin: 0;
}

audio {
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
}
.adoptAd p {
  padding: 0;
  margin: 0;
}

/* -------- Adopt Video ------ */

.adoptVideo {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin: 10px;
}

.adoptVideo p {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  font-size: large;
  text-align: center;
  font-size: larger;
}

.adoptVideo object {
  margin: 10px;
  padding-bottom: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.adoptNoShopAdTranscript {
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}
.adoptNoShopAdTranscript p {
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
